{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
    {src_dirs, ["test", "src"]}
  ]}.
{deps, [
    {lfe, ".*", {git, "https://github.com/qoocku/lfe.git", "unhyphenized"}},
    {lfeunit, ".*", {git, "https://github.com/lfe/lfeunit.git",  "master"}}
  ]}.
